form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 16px 0;
  height: 120px;
}

.counters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 16px 0;
}